@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");

body {
  background-image: url(notesbackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat";
}

.fullbody {
  background-image: url(notesbackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}
.loader-container {
  width: 110%;
  margin: -8px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(204, 218, 224, 0.834);
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.fullbuton {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  border: none;
  right: 40px;
  background-color: rgb(164, 208, 248);
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 1px 1px 1px #999;
}

.main {
  max-width: 960px;
  margin: 0px auto;
  padding: 0px 15px;
  min-height: 100vh;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}

.notes__title {
  color: #fff;
  font-size: 38px;
  font-family: "Montserrat";
  font-weight: 400;
}

.notes {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
}

@media screen and (max-width: 900px) {
  .notes {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 500px) {
  .notes {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
  .header {
    flex-direction: column;
    justify-content: center;
  }
  .hr {
    display: none;
  }
  .altug {
    margin-top: -10px;
    display: none;
  }
}
